# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
PORT=5000
MONGO_URI=mongodb+srv://govguest_user:Govguest123@cluster0.hpat6ud.mongodb.net/govadmin
JWT_SECRET=KMC_SECRET_KEY
